body{
    font-family: Open Sans, sans-serif, Helvetica, Arial;
    margin: 0%;
    background-color: rgb(206, 210, 216);
}
div{
    padding-left: 3%;
    margin: 25px 3%;
    border: 2px solid navy;
    border-radius: 10px;
    background-color: navy;
    color: white;
    height: 260px
}
h1{
    text-transform: uppercase;
}
a{
    color: aqua;
    text-decoration: none;
}